<h1>All Articles</h1>

<p><%= link_to 'Create new article', new_article_path %></p>

<ul>
  <% articles.each do |article| %>
    <li>
      <p>
        <%= link_to article.title, article_path(article) %>:
        <%= truncate(article.text, length: 90, separator: /\W/) %>
        <br>
        <span class="text-gray-500">
          Published <%= I18n.l(article.created_at, format: :short) %>
          <% if article.created_at != article.updated_at %> (updated <%= I18n.l(article.updated_at, format: :short) %>)<% end %>
        <span>
      </p>
    </li>
  <% end %>
</ul>
