- def relative_time_format(time)
- if time >= Time.zone.now.beginning_of_day
- :today
- elsif time >= Time.zone.now.beginning_of_year
- :this_year
- else
- :last_year
- end
- end
%h1 All Articles
%p= link_to 'Create new article', new_article_path
%ul
  - articles.each do |article|
    %li
      = link_to article, class: "flex no-underline" do
        .w-full.whitespace-nowrap.overflow-hidden{:style => "min-width: 10ch;"}
          %h3.overflow-hidden.overflow-ellipsis.p-0.text-black= article.title
          %p.overflow-hidden.overflow-ellipsis.p-0.text-gray-500= truncate(article.text, length: 150, separator: /\W/)
        = time_tag article.created_at, format: relative_time_format(article.created_at), class: "flex self-center text-right whitespace-nowrap pl-1 text-gray-500"
